[Unit]
Description=Monster Hunter Dex Data Service
ConditionPathExists=/home/$user/bin/mh-dex-server

[Service]
TimeoutStartSec=0
ExecStart=/home/$user/bin/mh-dex-server
Restart=always

[Install]
WantedBy=multi-user.target
